<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Structured Row Generator</title>
        <meta width="device-width">
        <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
        <script src="./module.js" defer></script>
    </head>
    <body>
        <div class="border rounded bg-black">

            <p class="p1 white">Structured Row Generator</p>
        </div>

        <div class="clearfix" id="hook">
        </div>

        <div class="flex">
            <div style="width: 70vw;" class="p1">
                <canvas id="myChart"></canvas>
            </div>
            <div style="width: 30vw;" class="p1 m3">
                <div id="metrics-table-hook">

                </div>
            </div>
        </div>
        
          
          
          

          
    </body>
</html>